
.photo_frame{
    border: thick double aliceblue;
}

h1{
    font: "Georgia, serif"
}

#main_title{
    text-align:center;
}

ul{
    list-style: none;
    display:flex;
    margin:50px auto;
    justify-content: space-evenly;

}

ul > *{
    flex-grow:1;
    text-justify:center;
}

#intro{
    display:flex;
    background-color:cornsilk;
    width:90%;
    padding:50px;
    margin:auto;
    justify-content: space-evenly;
}

#space{
    width:1000px;
}

#intro_title{
    text-align:center;
}

pre::before{
    content:"";
    width:100%;
    height:850px;
    font-family: Georgia, serif;
    background-image:url(./pic/star.png);
    background-size: 5%;
    background-clip:padding-box;
    opacity:0.1;
    top:900px;
    left:0;
    bottom:0;
    right:0;
    position:absolute;
    z-index: -1;
}

pre{
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    text-align:justify;
    opacity:1;
}

i{
    text-decoration: underline;
}